@font-face {
    font-family: 'Jadefedgah';
    src: url('http://www.vitasion.de/fonts/letter.otf') format("opentype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #777777;
}

ul {
    padding-left: 15px;
    margin: 2px;
}

div.mainlogo {
    width: 289px;
    height: 73px;
    float: left;
    background-image: url(img/logo_singpoint.gif);
    cursor: pointer;
}

p.margin_botton {
    margin-bottom: 14px;
}

ul.top_navigation {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.top_navigation li {
    float: left;
    border-right: 1px solid #000;
    padding: 0 5px 0 5px;
}

ul.top_navigation li[class=top_navigation_last] {
    border: none;
}

div.menu_sub {
    display: none;
}

div#menu_sub1 {
    margin: -1px 0 0 -465px;
    padding: 10px 0 0 0;
    position: absolute;
    width: 674px;
    height: 163px;
    z-index: 998;
}

div#menu_sub1 img {
    position: absolute;
    top: 3px;
    left: 490px;
}

div.submenu_content {
    width: 624px;
    height: 123px;
    background-image: url(img/submenu1_bg.gif);
    padding: 20px 20px 20px 32px;
}

div.submenu_col {
    float: left;
    width: 175px;
    margin: 10px 0 0 0;
    padding: 5px 0 0 45px;
}

div.submenu_col[id=last_col] {
    width: 130px;
}

div.submenu_col ul {
    list-style: none;
}

div.submenu_col ul li {
    float: none;
    border: none;
    padding: 0;
}

div.submenu_col ul li a {
    font-weight: normal;
    color: #515151;
}

div.submenu_col ul li a:hover {
    color: #F00;
}

div.popup_text {
    position: absolute;
    font-size: 10px;
    margin: -120px 0 0 -10px;
    padding: 20px 15px 0 25px;
    display: none;
    height: 110px;
    width: 165px;
    background: url(img/popup_bg.png) no-repeat;
    font-weight: normal;
    color: #515151;
}

span.popup_trigger div.popup_text a {
    color: #777;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    bottom: 40px;
}

.popup_trigger div.popup_text a:hover {
    color: #FF0000;
}

.popup_trigger:hover div.popup_text {
    display: block;
}

div.balken { /* Diese Klasse ist nach Modifizierungs-Abschluss unnötig */
    height: 32px;
    background: url(img/bg_balken.gif);
}

div.foot {
    font-size: 11px;
    padding: 8px 56px;
    margin-top: 10px;
    height: 48px;
    background: url(img/microphone.gif) no-repeat;
}

b.index_teaser_head {
    color: #000;
}

#main_wrapper {
    width: 952px;
    text-align: left;
    margin: 0 auto;
}

#top {
    margin-top: 10px;
    color: #000000;
}

#footer {
    margin-top: 13px;
    color: #000000;
}

#footer .navi a {
    font-size: 11px;
    color: #777777;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

table.navi {
    margin: 10px 0 0 0;
}

#footer .navi a:hover {
    color: #f00;
}

#footer .navi a.active {
    color: #FF0000;
}

#footer p {
    margin-bottom: 4px;
    font-weight: bold;
}

/* Subcontent */
.sub_content {
    padding: 0 23px;
    margin-top: 30px;
}

.sub_content.spalten {
    padding-right: 0;
}

.top_sub_navi {
    margin-bottom: 12px;
    font-weight: bold;
    color: #000000;
}

.sub_content .top_wr {
    height: 285px;
}

.sub_content .top_text_wr {
    padding-left: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 13px;
}

.sub_content .top_text {
    margin-bottom: 20px;
}

.top_headline {
    float: left;
    margin-top: 30px;
    width: 410px;
}

.top_picture {
    float: right;
}

.sub_content .top_sub_navi a.active {
    font-size: 16px;
    color: #ff0000;
    font-style: italic;
}

.sub_content .bg_balken_top {
    background: url("img/bg_balken_small_lr.gif") no-repeat;
    height: 2px;
    overflow: hidden;
}

.sub_content .bg_balken_gray {
    background: #cdcdcd no-repeat;
    height: 2px;
    overflow: hidden;
}

.sub_content .bg_balken_bottom {
    background: url("img/bg_balken_small_rl.gif") no-repeat right top;
    height: 2px;
    overflow: hidden;
}

.sub_content .middle {
    margin-top: 50px;
}

/* Headlines */
h1 {
    font-size: 28px;
    font-weight: normal;
    color: #000000;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

h4 {
    color: #515151;
    font-size: 18px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

a img {
    border: none;
    /* vertical-align: middle; */
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    margin-right: 4px;
    margin-left: 4px;
}

a:hover {
    color: #ff0000;
}

#big_picture {
    margin-top: 18px;
}

#big_picture {
    margin-top: 18px;
}

.theaser_wrapper {
    margin-top: 18px;
}

.theaser_text {
    text-align: left;
    padding: 10px;
    width: 287px;
    font-weight: bold;
}

.button_wr {
    height: 59px;
}

.button_wr a:hover {
    text-decoration: none;
    color: #ff0000;
}

button {
    cursor: pointer;
}

.button_wr a {
    margin: 0;
    font-size: 11px;
    color: #777777;
}

.button_wr .text_2_zeilen {
    float: left;
    width: 200px;
    padding-top: 10px;
    padding-left: 4px;
}

.button_wr .text_1_zeile {
    float: left;
    width: 200px;
    padding-top: 14px;
    padding-left: 4px;
}

.offer {
    text-align: left;
    font-weight: bold;
    width: 286px;
}

.offer_big {
    text-align: left;
    font-weight: bold;
    width: 596px;
}

.offer_text_wr {
    background-color: #ececec;
    padding: 22px 20px 0;
}

.offer_text_wr_big {
    background-color: #ececec;
    padding: 22px 50px 0 64px;
}

.offer_text {
    height: 220px;
}

.offer_price {
    height: 53px;
}

.price {
    float: right;
    padding-top: 12px;
    color: #f00;
    font-size: 14px;
}

.price .big {
    font-size: 22px;
}

.box_bottom {
    width: 286px;
    height: 13px;
    background: url("img/box_bottom.gif") no-repeat;
    margin-bottom: 5px;
}

.box_bottom_big {
    width: 596px;
    height: 13px;
    background: url("img/box_bottom.gif") no-repeat;
    margin-bottom: 5px;
}

.box_reflection {
    width: 286px;
    height: 96px;
    background-repeat: no-repeat;
}

.box_reflection_big {
    width: 596px;
    height: 96px;
    background-repeat: no-repeat;
}

/* Spaltenlayout */
#spalten_wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 11px;
}

#spalten_wrapper h1 {
    margin-bottom: 30px;
}

#spalten_wrapper h2 {
    font-size: 14px;
    margin-bottom: 8px;
}

#spalten_wrapper h3 {
    font-size: 12px;
    color: #0c5983;
}

h3.blue_hl {
    font-size: 12px;
    color: #0c5983;
}

#spalten_wrapper p {
    margin-bottom: 8px;
}

a.subpage {
    color: #CDCDCD;
    font-weight: normal;
}

/* contact */
#contact_left, #contact_rechts {
    float: left;
}

#contact_left {
    width: 580px;
}

#contact_rechts {
    width: 326px;
    margin-top: 30px;
    padding: 344px 0 0 0;
}

#contact_rechts img {
    margin-bottom: 24px;
}

.contact_wr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact_wr h2 {
    font-size: 22px;
    font-weight: normal;
    color: #777777;
    display: inline;
    background-color: #ffffff;
    padding-right: 4px;
}

.contact_wr h3 {
    color: #000000;
    font-size: 12px;
    margin: 8px 0;
}

.contact_wr .headline_bg {
    margin: 30px 0;
    background: url("img/bg_balken_small_lr.gif") no-repeat -100px 12px;
}

#submit {
    width: 547px;
    margin: -40px 0 0 0;
    text-align: right;
}

#submit input {
    font-size: 20px;
    padding: 10px 40px;
    background: #f7f7f5 none;
    border: 1px solid #ccc;
    color: #777;
    cursor: pointer;
    margin-top: -40px;
    border-radius: 10px;

}

#submit input:hover {
    color: #fd0000;
}

#form_wr {
    width: 524px;
    background-repeat: no-repeat;
    padding: 12px;
}

iframe.upload {
    border: none;
    margin: 0;
    padding: 0;
}

ul.paketinhalt {
    list-style: url(img/haken.jpg);
    margin-left: 7px;
}

div.st_link a {
    float: right;
    padding-top: 12px;
    font-size: 14px;
    color: #777;
}

div.st_link a:hover {
    color: #F00;
}

.next_paket {
    font-size: 11px;
    color: #BFBFBF;
    font-weight: normal;
}

.next_paket:hover .paket_arrow {
    background-position: 6px -10px;
}

/*VIP CLUB*/
div.vipclub {
    width: 952px;
    height: 731px;
    background: url(img/vipclub_back.jpg) no-repeat center;
}

div.vipclub_form {
    position: absolute;
    width: 377px;
    height: 203px;
    padding: 30px 20px 20px 40px;
    margin: 439px 0 0 273px;
}

div.vipclub_form p {
    font-size: 12px;
    color: #1D1D1D;
}

div.vipclub_form div.kontakt_input {
    margin-top: 3px;
}

div.vipclub_form div.kontakt_input input[type=submit] {
    padding: 5px 30px 5px 30px;
    background-color: #F9F9F9;
    font-size: 12px;
}

div.vipclub_form div.kontakt_input input[type=submit]:hover {
    color: #CC0000;
    cursor: pointer;
}

div.vipclub_form div.kontakt_submit {
    float: right;
    margin-top: 30px;
}

div.vipclub_form div.kontakt_input label {
    float: left;
    width: 130px;
    display: block;
    font-size: 12px;
}

div.videofaq_media {
    height: 322px;
    width: 623px;
    float: left;
}

div.videofaq_teaser {
    height: 322px;
    width: 306px;
    float: left;
}

div.videofaq_teaser img {
    display: block;
}

div.videofaq_teaser img.textfaq {
    margin-bottom: 44px;
}

div.videofaq_content1 {
    padding-right: 30px;
    margin-top: 40px;
    float: left;
    width: 281px;
}

div.videofaq_content2 {
    padding-right: 30px;
    margin-top: 40px;
    float: left;
    width: 282px;
}

div.videofaq_content3 {
    float: left;
    width: 306px;
    padding-top: 40px;
}

div.clear {
    clear: both;
}

img.forward {
    margin-top: 20px;
}

/*print button*/
a.printbutton {
    cursor: pointer;
}

a.printbutton span {
    display: inline-block;
}

a.printbutton span.print_button {
    width: 32px;
    height: 32px;
    background: no-repeat 0 9px;
}

a.printbutton:hover span.print_button {
    background-position: -32px 9px;
}

a.printbutton span.print_button_text {
    width: 210px;
    padding: 0 0 0 10px;
    color: #777;
}

a.printbutton:hover span.print_button_text {
    color: #f50000;
}

div.castinggewinnerStory {
    margin: 0 auto;
    width: 853px;
}

div.castinggewinnerStory h2 {
    font-size: 40px;
    padding-bottom: 20px;
}

div.castinggewinnerStory h4 {
    font-size: 16px;
}

div.castinggewinnerStory h5 {
    font-size: 18px;
    color: #333;
    padding: 20px 0 10px 0;
}

div.castinggewinnerStory p {
    padding-bottom: 30px;
}

div.castinggewinnerStory div.castinggewinnerTag {
    width: 240px;
    margin-right: 44px;
}

div.castinggewinnerStory div.castinggewinnerTag p {
    width: 240px;
    text-align: justify;
}

/* SINGPOINT LANDKARTE */
.jvectormap-label {
    position: absolute;
    display: none;
    border: solid 1px #CDCDCD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: white;
    font-family: sans-serif, Verdana, sans-serif;
    font-size: smaller;
    padding: 3px;

}

.textlabel {
    position: absolute;
    overflow: hidden;
    font-size: 9px;
    color: #ffffff;
    z-index: 998;
}

.textlabel a {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 9px;
    font-weight: normal;
}

.textlabel a:hover {
    color: #eee;
}

.superlabel {
    width: 9px;
    height: 12px;
    position: absolute;
    z-index: 998;
    overflow: hidden;
	white-space:nowrap;
    opacity: 0;
}

.superlabel span.headline {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #CDCDCD;
    display: block;
    height: 20px;
    line-height: 20px;
    margin: 0 0 5px 0;
}

.superlabel a {
    margin: 0;
}

.superlabel:hover {
    padding: 0;
    width: 200px;
    height: 80px;
    position: absolute;
    z-index: 999;
    opacity: 1;
    top: -200px;
    margin: 0;
}

.superlabel .info {
    padding: 10px;
    width: 180px;
    height: 60px;
    background: #F1F1F0;
    position: relative;
    border-radius: 5px;
    opacity: 0.9;
}

.singpointLandkarteNeutral .superlabel:hover .info {
    height: 70px;
}

.singpointLandkarteNeutral .superlabel:hover {
    height: 90px;
}

.singpointLandkarteNeutral .superlabel span.headline a {
    color: #777;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    position: absolute;
    left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    padding: 3px;
    color: white;
    width: 10px;
    height: 10px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
}

.jvectormap-zoomin {
    top: 10px;
}

.jvectormap-zoomout {
    top: 30px;
}

.angebote {
    margin-top: 40px;
}

.angebote .span8 {
    width: 593px;
}

.angebote .span4 {
    margin-left: 10px;
    width: 307px;
  padding:20px;
    border: 1px solid #ccc;
      border-radius:12px;
}

.angebote .span8, .angebote .span4 {
    float: left;
}

.angebote .teaserbox {
    margin-bottom: 10px;
}

.teaserbox {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 30px;
}

.teaserbox  .teaserbox-text p a{
color:#f40000;
      font-weight:normal;
      margin:0;
}
    .teaserbox  .teaserbox-text p a:hover{
          color:#000;
          }

.teaserbox  .teaserbox-text h2 {
    font-size: 22px;
    color: #555;
    text-transform: uppercase;
}

.teaserbox .teaserbox-text h3 {
    color: #f40000;
    margin-bottom: 30px;
}



.teaserbox  .teaserbox-text h2 {
    font-size: 22px;
    color: #555;
    text-transform: uppercase;
}

.teaserbox .teaserbox-text h3 {
    color: #f40000;
    margin-bottom: 30px;
}
.teaserbox.teaserbox-jga{
background:url(img/teaserbox-jga.jpg) no-repeat -20px 0;
}
.teaserbox.teaserbox-jga .teaserbox-text{
  padding-left:240px;
}
.teaserbox.teaserbox-jga .teaserbox-text h2{
  font-size:15px;
        margin-bottom:10px;
}
.teaserbox.teaserbox-jga .teaserbox-text p{
  width:291px;
              text-align:justify;
}

.teaserbox.teaserbox-kg{
background:url(img/teaserbox-kg.jpg) no-repeat 300px 0;
}
.teaserbox.teaserbox-kg .teaserbox-text{
  width:431px;
}
.teaserbox.teaserbox-kg .teaserbox-text h2{
  font-size:15px;
        margin-bottom:10px;
}
.teaserbox.teaserbox-kg .teaserbox-text p{
  width:291px;
              text-align:justify;
}

.teaserbox.teaserbox-wf{
background:url(img/teaserbox-wf.jpg) no-repeat -20px 0;
}
.teaserbox.teaserbox-wf .teaserbox-text{
  padding-left:250px;
}
.teaserbox.teaserbox-wf .teaserbox-text h2{
  font-size:15px;
        margin-bottom:10px;
}
.teaserbox.teaserbox-wf .teaserbox-text p{
  width:281px;
              text-align:justify;
}

.teaserbox.teaserbox-alg{
background:url(img/teaserbox-alg.jpg) no-repeat 340px -14px;
}
.teaserbox.teaserbox-alg .teaserbox-text{
  width:311px;
}
.teaserbox.teaserbox-alg .teaserbox-text h1{
        font-size:16px;
        margin-bottom:10px;
}
.teaserbox.teaserbox-alg .teaserbox-text p{
  width:311px;
              text-align:justify;
}

.teaserbox.teaserbox-wf2{
background:url(img/teaserbox-wf2.jpg) no-repeat -20px 0;
}
.teaserbox.teaserbox-wf2 .teaserbox-text{
  padding-left:250px;
}
.teaserbox.teaserbox-wf2 .teaserbox-text h2{
  font-size:15px;
        margin-bottom:10px;
}
.teaserbox.teaserbox-wf2 .teaserbox-text p{
  width:281px;
              text-align:justify;
}
.teaserbox.teaserbox-end{
background:url(img/teaserbox-cd.jpg) no-repeat 300px 0;
}
.teaserbox.teaserbox-end .teaserbox-text p{
  width:280px;
              text-align:justify;
}